@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --Primary-Pale_blue: hsl(225, 100%, 94%);
    --Primary-Bright_blue: hsl(245, 75%, 52%);
    --Neutral-Very_pale_blue: hsl(225, 100%, 98%);
    --Neutral-Desaturated_blue: hsl(224, 23%, 55%);
    --Neutral-Dark_blue: hsl(223, 47%, 23%);
    --Font-Red_Hat: 'Red Hat Display', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--Primary-Pale_blue);
    background-image: url(images/pattern-background-mobile.svg);
    background-position: top center;
    background-size: 639px 189px;
    background-repeat: no-repeat;
}

main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    height: 567px;
    width: 327px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.text {
    font-family: var(--Font-Red_Hat);
    margin: 32px 32px 0px 32px;
}

.title {
    color: var(--Neutral-Dark_blue);
    font-size: 1.4em;
    padding-bottom: 16px;
    text-align: center;
    font-weight: 900;
}

.description {
    color: var(--Neutral-Desaturated_blue);
    font-size: .93em;
    line-height: 25px;
    text-align: center;
}

.plan-card {
    background-color: var(--Neutral-Very_pale_blue);
    font-family: var(--Font-Red_Hat);
    width: 279px;
    height: 81px;
    border-radius: 11px;
    margin: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.description-plan {
    display: flex;
    align-items: center;
    padding: 17px 16px 16px 16px;
}

.detail-plan {
    padding-left: 20px;
    padding-right: 50px;
}

.plan {
    color: var(--Neutral-Dark_blue);
    font-size: .88em;
    font-weight: 900;
    padding-bottom: 3px;
    line-height: 19px;
}

.price {
    color: var(--Neutral-Desaturated_blue);
    font-size: .88em;
    font-weight: 500;
}

.change-buttom {
    color: var(--Primary-Bright_blue);
    font-size: .8em;
    font-weight: 700;
}

button {
    width: 279px;
    height: 50px;
    background-color: var(--Primary-Bright_blue);
    border: 0;
    border-radius: 11px;
    margin: 0 24px 24px 24px;

    color: white;
    font-family: var(--Font-Red_Hat);
    font-size: .95em;
    font-weight: 700;

    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.cancel-order > a {
    font-family: var(--Font-Red_Hat);
    color: var(--Neutral-Desaturated_blue);text-decoration: none;
    font-size: .95em;
    font-weight: 900;

    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    body {
        background-image: url(images/pattern-background-desktop.svg);
        background-size: contain;
        background-position-y: -150px;
        background-attachment: fixed;
    }

    .card {
        height: 585px;
        width: 380px;
        box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
    }

    .title {
        font-size: 1.5em;
        padding-bottom: 14px;
    }

    .description {
        font-size: .87em;
        line-height: 22px;
    }

    .plan-card {
        width: 300px;
        margin: 20px 40px 22px 40px;
        filter: none;
    }

    .description-plan {
        padding: 21px 18px 20px 18px;
    }

    .plan-card > div > img {
        width: 40px;
    }

    .detail-plan {
        padding-right: 70px;
    }
    
    .plan {
        font-size: .83em;
    }
    
    .price {
        font-size: .83em;
    }
    
    .change-buttom {
        font-size: .75em;
    }
    
    button {
        width: 300px;
        height: 45px;
        margin: 0 40px 30px 40px;
    
        font-size: .8em;
    }
    
    .cancel-order > a {
        font-size: .8em;
    }

    .change-buttom > a:hover {
        cursor: pointer;
        text-decoration: none;
        color: #766CF1;
    }

    button:hover {
        cursor: pointer;
        background-color: #766CF1;
    }

    .cancel-order > a:hover {
        cursor: pointer;
        color: var(--Neutral-Dark_blue);
    }
}