@charset UTF-8;

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Fraunces1';
    src: url(assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: 'Fraunces2';
    src: url(assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(assets/fonts/manrope/Manrope-VariableFont_wght.ttf), url(assets/fonts/manrope/static/Manrope-Regular.ttf);
}

:root{
    --Dark-Purple: #24053E;
    --Davys-Grey: #584D62;
    --Eucaplyptus: #44FFA1;
    --Ghost-White: #FCF8FF;
    --White: #FFFFFF;
}

/* Especificações ***FUNDO*** Menu e Título */
.menu{ 
    background-color: var(--Dark-Purple);
    height: 93px;
    display: flex;
    justify-content: space-between;
}

.main-title{
    background-color: var(--Dark-Purple);
    height: 312px;
}

.header-bottom {
    background-color: var(--Dark-Purple);
    height: 56.71px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 155px;
}

/* Especificações ***CONTEUDO*** Menu e Título */

.menu > img { /*Logo*/
    height: 34px;
    justify-content: left;
    padding-top: 32px;
    padding-left: 16px;
}

.menu > p { /*BOTÃO: Apply for Access*/
    font-family: 'Manrope';
    font-size: 1em;
    font-weight: 700;
    line-height: 32px;
    justify-content: right;
    padding-top: 32px;
    padding-right: 16px;
}

.access {
    color: var(--White);
    text-decoration: none;
    border-bottom: 3px solid var(--Eucaplyptus) ;
    padding-bottom: 4px;
}

.main-title {
    font-family: 'Fraunces2';
    font-size: 1.5em;
    text-align: center;
    color: var(--White);
    padding: 37px 16px 0 16px;
}

.main-title > h1 > span {   
    border-bottom: 3px solid var(--Eucaplyptus);
}

.learn-button {
    width: 133px;
    height: 55px;
    border: none;
    margin-top: 40px;
    background-color: var(--Eucaplyptus);

    font-family: 'Manrope';
    font-size: .65em;
    font-weight: 700;
    color: var(--Dark-Purple);
}

/* Imagem celular */
.phone {
    position: absolute;
    width: 320px;
    height: 184px;
    top: 410px;
}

/* Especificações ***FUNDO*** main */

.list {
    background-color: var(--Ghost-White);
}

.list-bottom{
    height: 71px;
    background-color: var(--Ghost-White);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


/* Estrutura conteúdo main.list */

.list-number {
    font-family: 'Fraunces2';
    font-size: 1.3em;
    color: var(--Dark-Purple);
    text-align: center;
    width: 48px;
    height: 46px;
    border: 1px solid var(--Davys-Grey);
    border-radius: 50%;
    margin: auto;
    margin-bottom: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: 'Fraunces';
    font-size: 1.75em;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    color: var(--Dark-Purple);
    margin-bottom: 16px;
}

.description-1, .description-2 {
    font-family: 'Manrope';
    font-size: .95em;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--Davys-Grey);
    padding: 0 16px;
    margin-bottom: 40px;
}

.description-3 {
    font-family: 'Manrope';
    font-size: .95em;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: var(--Davys-Grey);
    padding: 0 16px;
}

/* Testemunho do fundador */

.testimonial-img {
    text-align: center;
}

.founder {
    height: 281px;
    margin-top: 100.29px;
}

.testimonial-card {
    width: 343px;
    height: 378px;
    background-color: var(--Dark-Purple);
    text-align: center;
    margin: auto;
    
}

h3 {
    font-family: 'Fraunces2';
    font-size: 32px;
    line-height: ;
    color: var(--White);
    padding: 32px 31.5px 16px 31.5px;
}

.testimony {
    font-family: 'Manrope';
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    color: var(--White);
    padding: 0 31px;

}

footer {
    height: 200px;
}