@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --Primary_Soft-blue: hsl(215, 51%, 70%);
    --Primary_Cyan: hsl(178, 100%, 50%);
    --Neutral_VDB-main-BG: hsl(217, 54%, 11%);
    --Neutral_VDB-card-BG: hsl(216, 50%, 16%);
    --Neutral_VDB-line: hsl(215, 32%, 27%);
    --Neutral_White: hsl(0, 0%, 100%);
}
    
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--Neutral_VDB-main-BG);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0D192B
}

.card {
    width: 280px;
    background-color: var(--Neutral_VDB-card-BG);
    border-radius: 15px;
    padding: 23px;
    box-shadow: 0px 0px 0 15px rgba(0, 0, 0, 0.062), 0px 0px 0 45px rgba(0, 0, 0, 0.045);
}

.image-section {
    position: relative;
    height: 280px;
}

.image {
    width: 100%;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    opacity: 0;
    transition: 0.2s;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

h2 {
    color:var(--Neutral_White);
    padding: 18px 0;
    font-size: 1.3em;
}

h2:hover {
    color: var(--Primary_Cyan);
    cursor:pointer;
}

section > p {
    color:var(--Primary_Soft-blue);
    margin-bottom: 20px;
    font-size: 1.05em;
    line-height: 1.5;
}

.detail {
    display: flex ;
    justify-content: space-between;
    margin-bottom:20px;
}

.time-img {
    width: 17px;
    height: 17px;
}

.price-img {
    width: 11px;
    height: 17px;
}

.detail-description {
    padding-left: 7px;
    font-size: .9em;
}

.price {
    color:var(--Primary_Cyan);
    display: flex;
}

.time {
    color:var(--Primary_Soft-blue);
    display: flex;
}

hr {
    border: 1px solid var(--Neutral_VDB-line);
    margin-bottom:15px;
}

.credit-card {
    display:flex;
    color: var(--Primary_Soft-blue);
    align-items: center;
    padding-bottom: 10px;
}

.credit-card > p {
    font-size: .9em;
    margin-left: 15px;
}

.name {
    color: var(--Neutral_White);
    text-decoration: none;
}

.name:hover {
    color: var(--Primary_Cyan);
}

.credit-card > img {
    width: 28px;
    border: 1px solid var(--Neutral_White);
    border-radius: 50px; 
}
