@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:wght@400;500;800&display=swap');

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --fonte-familia: Figtree;
    --fonte-bold: 800;
    --fonte-medium: 500;

}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--yellow);

    font-family: var(--fonte-familia);
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
}

main {
    height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--white);
    width: 384px;
    padding: 24px;
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0);

    font-family: var(--fonte-familia);
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
}

.banner {
    text-align: center;
}

.banner__imagem {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card__descricao {
    padding: 24px 0px;
}

.card__descricao__indice {
    background-color: var(--yellow);
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: var(--fonte-bold);
}

.card__descricao__data {
    padding: 12px 0;
    font-size: 1rem;
    font-weight: var(--fonte-medium);
}

.card__descricao__titulo {
    text-decoration: none;
    font-size: 1.625rem;
    font-weight: var(--fonte-bold);
    color: var(--gray-950);
}

.card__descricao__titulo:hover {
    color: var(--yellow);
}

.card__descricao__texto {
    color: var(--gray-500);
    font-size: 1.125rem;
    font-weight: var(--fonte-medium);
    padding: 12px 0;
}

.card__autor {
    display: flex;
    align-items: center;
    justify-content: left;

    gap: 12px;
    height: 36px;
}

.card__autor__foto {
    height: 100%;
}

.card__autor__nome {
    font-size: 1rem;
    font-weight: var(--fonte-bold);
}

.rodape__texto {
    font-size: 0.688rem;
    text-align: center;
}

.rodape__link {
    font-size: 0.688rem;
    text-decoration: none;
    color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
    .card {
        width: 327px;
        
    }

    .card__descricao__indice {
        font-size: 0.875rem;
    }

    .card__descricao__data {
        font-size: 0.875rem;
    }

    .card__descricao__titulo {
        font-size: 1.375rem;
    }

    .card__descricao__texto {
        font-size: 1rem;
    }
}